@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --color-light_blue: #8ac6ff;
  --color-blue: #3288d9;
  --color-medium_blue: #0a69c2;
  --color-dark_blue: #014787;
  --color-soft_white: #f2f6fa;
}

